<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="fileLog" value="bin/Debug/net8.0/testLogFile.txt" />
		<add key="fileOutput" value="bin/Debug/net8.0/testOutputFile.txt" />

		<!--<add key="fileLog" value="testLogFile.txt" />
		<add key="fileOutput" value="testOutputFile.txt" />-->

		<add key="addressStart" value="1.1.1.1" />
		<add key="addressMask" value="128.0.0.0" />
		<add key="timeStart" value="01.01.2024" />
		<add key="timeEnd" value="31.12.2024" />
	</appSettings>
</configuration>